<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #231291;" xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">Air Travel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/location/'}"
                       th:text="#{label.location}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/hotel/'}" th:text="#{label.hotel}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/flight/'}" th:text="#{label.flightindex}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/location/about'}" th:text="#{label.about}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/profile'}" th:text="${currentUser.fullName}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/login'}" th:text = "#{label.login}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/register'}" th:text = "#{label.register}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="JavaScript:void(0)"
                       onclick="document.getElementById('logoutFormId').submit()" th:text = "#{label.logout}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=se">SWE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=en">ENG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=ch">CHI</a>
                </li>
                <form th:action="@{'/logout'}" method="post" id="logoutFormId" sec:authorize="isAuthenticated()">

                </form>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" th:text = "#{label.dropdown}">

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" th:href="@{'/location/addlocation'}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Add Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" th:href="@{'/flight/addflight'}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Add Flight</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" th:href="@{'/hotel/addhotel'}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Add Hotel</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" th:placeholder="#{label.search}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" th:text="#{label.search}"></button>
            </form>
        </div>
    </div>
</nav>