<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3 class="text-center" th:text="#{button.addflight}"></h3>
            <form th:action="@{'/flight/addflight'}" method="post">
                <div class="form-group ml-2">
                    <label th:text="#{label.price}">
                    </label>
                    <input type="text" class="form-control" name="flight_price">
                </div>
                <div class="form-group ml-2">
                    <label th:text="#{label.fromLocation}">
                    </label>
                    <select class="form-control" name="location_id">
                        <option th:each="lct : ${locations}" th:text = "${lct.city} + ' / ' + ${lct.country}" th:value="${lct.id}"></option>
                    </select>
                </div>
                <div class="form-group ml-2">
                    <label th:text="#{label.toLocation}">
                    </label>
                    <select class="form-control" name="location_id">
                        <option th:each="lct : ${locations}" th:text = "${lct.city} + ' / ' + ${lct.country}" th:value="${lct.id}"></option>
                    </select>
                </div>
                <div class="modal-footer">  <div class="form-group ml-2">
                    <button class="btn btn-success" th:text="#{button.addflight}"></button>
                </div>
                </div>
            </form>
        </div>

    </div>
</div>
</html>