<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3 class="text-center">Add Location</h3>
            <form th:action="@{'addlocation/'}" method="post">
                <div class="form-group ml-2">
                    <label th:text="#{label.city}">
                    </label>
                    <input type="text" class="form-control" name="location_city">
                </div>
                <div class="form-group ml-2">
                    <label th:text="#{label.country}">
                    </label>
                    <input type="text" class="form-control" name="location_country">
                </div>
                <div class="form-group ml-2">
                    <button class="btn btn-success" th:text="#{button.addlocation}"></button>
                </div>
            </form>
        </div>

    </div>
</div>
</html>