<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-4">
        <div class="display-1 text-center">
        <img th:src="@{/img/flightpanarama.jpg}" style="width: 60%; height: 80%;"/>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr style="font-family: 'Georgia'">
                    <th>ID</th>
                    <th th:text="#{label.fromLocation}"></th>
                    <th th:text="#{label.toLocation}"></th>
                    <th th:text="#{label.price}"></th>
                    <th width="10%" th:text="#{label.details}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flightit : ${flight}">
                    <td th:text="${flightit.id}"></td>
                    <td th:text="${flightit.fromLocation!=null?flightit.fromLocation.city + ' - ' + flightit.fromLocation.country : '--'}"></td>
                    <td th:text="${flightit.toLocation!=null?flightit.toLocation.city + ' - ' + flightit.toLocation.country : '--'}"></td>
                    <td th:text="${flightit.price}"></td>
                    <td><a th:href="@{'/flight/flightdetails/' + ${flightit.id}}" class="btn btn-info btn-sm"
                           style="background-color: deepskyblue"
                           th:text="#{label.details}"></a></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="row mt-2">
            <div class="display-1 text-center">
            <img th:src="@{/img/hotelpanarama.jpg}" style="width: 59%; height: 63%;"/>
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr style="font-family: 'Georgia'">
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{label.location}"></th>
                        <th th:text="#{label.categories}"></th>
                        <th th:text="#{label.price}"></th>
                        <th width="10%" th:text="#{label.details}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hotel : ${hotels}">
                        <td th:text="${hotel.id}"></td>
                        <td th:text="${hotel.name}"></td>
                        <td th:text="${hotel.location !=null? hotel.location.city + ' / ' + hotel.location.country : '--'}"></td>
                        <td>
                            <span th:each="cat : ${hotel.categories}" th:text="${cat.name}"
                                  style="display: block;"></span>
                        </td>
                        <td th:text="${hotel.price}"></td>
                        <td><a th:href="@{'/hotel/hoteldetails/' + ${hotel.id}}" class="btn btn-info btn-sm"
                               th:text="#{label.details}" style="background-color: deepskyblue"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>