<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label th:text="#{label.name}">
                </label>
                <input type="text" class="form-control plain-text" th:value="${hotel!=null?hotel.name:''}">
            </div>
            <div class="form-group">
                <label th:text="#{label.price}">
                </label>
                <input type="text" class="form-control plain-text" th:value="${hotel!=null?hotel.price:''}">
            </div>
            <div class="form-group ml-2">
                <label th:text="#{label.location}">
                </label>
                <input type="text" class="form-control plain-text" th:value="${hotel!=null?hotel.location.city:''}">
            </div>
            <div class="form-group">
                <a th:href="@{'/hotel/edithotel/'+${hotel.id}}" class="btn btn-success"
                   sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">EDIT</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table table-striped">
                <tbody>
                <tr th:each="cat : ${hotel.categories}">
                    <td th:text="${cat.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>