<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator = "layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-2">
    <h3 class="display-3 text-center" th:text = "#{label.hotel}" style="font-family: 'Georgia'"></h3>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr style="font-family: 'Georgia'">
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">ID</th>
                    <th th:text="#{label.name}"></th>
                    <th th:text="#{label.location}"></th>
                    <th th:text="#{label.categories}"></th>
                    <th th:text="#{label.price}"></th>
                    <th width="10%" th:text="#{label.details}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hotel : ${hotels}">
                    <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" th:text="${hotel.id}"></td>
                    <td th:text="${hotel.name}"></td>
                    <td th:text="${hotel.location !=null? hotel.location.city + ' / ' + hotel.location.country : '--'}"></td>
                    <td>
                        <span th:each = "cat : ${hotel.categories}" th:text = "${cat.name}" style="display: block;"></span>
                    </td>
                    <td th:text="${hotel.price}"></td>
                    <td><a th:href="@{'/hotel/hoteldetails/' + ${hotel.id}}" class="btn btn-info btn-sm"
                           th:text="#{label.details}"></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</html>